#facebook {
    padding: 20px;
    box-sizing: border-box;
    margin-top: 20px;
    font-family: Arial;
}

#facebook .avatar {
    width: 60px;
    height: 60px;
    float: left;
}

#facebook .writeComment {
    box-sizing: border-box;
}

#facebook .writeComment:before,
#facebook .writeComment:after {
    content: '';
    display: table;
    clear: both;
    width: 100%;
}

#facebook .writeComment .form {
    box-sizing: border-box;
    padding-left: 40px;
}

#facebook .writeComment .form input {
    display: block;
    padding: 7px 5px;
    border: 1px solid #9a9a9a;
    width: 100%;
    box-sizing: border-box;
    font-size: 14px;
}

#facebook .writeComment .form .inscription {
    font-size: 10px;
    color: #ccc;
}

#facebook .commentsList:before,
#facebook .commentsList:after {
    content: '';
    display: table;
    clear: both;
    width: 100%;
}

#facebook .commentsList .commentItem {
    box-sizing: border-box;
    margin: 10px 0;
    border-top: 1px solid #e2e2e2;
    padding-top: 10px;
    font-size: 16px;
}
#facebook .commentsList .commentItem:first-child{
    border: none;
}
#facebook .commentsList .commentItem .commentItem {
    border-bottom:none;
}
#facebook .commentsList .commentItem .commentBody {
    font-size: 12px;
    padding-left: 70px;
    position: relative;
    padding-right: 45px;
}

#facebook .commentsList .commentItem .commentBody .username {
    font-weight: 600;
    display: block;
    font-size: 20px;
}

#facebook .commentsList .commentItem .commentBody .commentAction a {
    color: #3b5998;
    text-decoration: none;
}

#facebook .commentsList .commentItem .commentBody .commentAction .circle {
    font-size: 7px;
    position: relative;
    top: -2px;
    padding: 0 5px;
}

#facebook .commentsList .commentItem .commentBody .commentAction .likeImage {
    position: relative;
    top: 8px;
    width: 25px;
    height: 25px;
}

#facebook .commentsList .commentItem .commentBody .commentAction .likeCount {
    color: #ccc;
}

#facebook .commentsList .commentItem .commentBody .commentAction .time {
    color: #ccc;
}
.com-date {
    font-size: 16px;
    color: #939393;
}
.com-text {
    clear: both;
    padding-top: 10px;
}
.imageCont {
    margin-top: 10px;
}
.commentItem_levl2 {
    padding-left: 70px;
}